<table
  mat-table
  [dataSource]="dataSource"
  multiTemplateDataRows
  class="mat-elevation-z8"
>
  <!-- Colunas Dinâmicas -->
  <!-- Cria os templates para cada tipo de célula (cabeçalho e corpo)
       Define como cada coluna deve ser renderizada. Faz o macth entre
      célula da coluna com seu respectiva celula da linha  -->

  @for (column of columnsToDisplay; track column) {
  <ng-container [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>
      {{ columnHeaders[column] || column }}
    </th>
    <td mat-cell *matCellDef="let element">
      @if (isBooleanColumn(element[column])) {
      <mat-icon
        [class.positive]="element[column]"
        [class.negative]="!element[column]"
        >{{ element[column] | booleanIcon }}</mat-icon
      >
      } @else {
      {{ element[column] }}
      }
    </td>
  </ng-container>
  }

  <!-- Coluna de Expansão -->
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="Expandir"></th>
    <td *matCellDef="let element" class="icon-border-width-bottom">
      <button
        mat-icon-button
        (click)="toggleRow(element); $event.stopPropagation()"
      >
        <mat-icon>
          {{
            expandedElement === element
              ? "keyboard_arrow_up"
              : "keyboard_arrow_down"
          }}
        </mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Conteúdo Expandido -->
  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplayWithExpand.length"
    >
      <div
        class="expanded-content"
        [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'"
      >
        <ng-container
          [ngTemplateOutlet]="expandedRowContent"
          [ngTemplateOutletContext]="{ $implicit: element }"
        >
        </ng-container>
      </div>
    </td>
  </ng-container>

  <!-- Linhas -->

  <!--Rendeiza os cabeçalhos das colunas-->
  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>

  <!--Renderiza as linhas de dados-->
  <tr
    mat-row
    *matRowDef="let row; columns: columnsToDisplayWithExpand"
    [class.expanded-row]="expandedElement === row"
    (click)="toggleRow(row)"
    class="main-line-row"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="detail-row"
  ></tr>
</table>
